@model Domain.Soba

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <p>Details</p>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SobaID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SobaID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HotelID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hotel.Naziv)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BrojSobe)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BrojSobe)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TipSobe)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipSobe)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Zauzeta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Zauzeta)
            </dd>
        </dl>
        <div>
            <a class="btn btn-outline-dark btn-block" asp-action="Index">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
 
</div>
<img class="slika" src ="~/images/Sobe.jpg" />
<style>
    .card{
        position: relative;
        top: 5em;
        bottom 6em;
        justify-content: center;
        align-items: center;
        padding: 1em;
        z-index: 1;
        opacity: 0.95;
    }
    .card p{
        text-align: center;
        letter-spacing:2px;
        text-transform: uppercase;
    }
    .slika {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        overflow: hidden;
    }
</style>