@model IEnumerable<Domain.Soba>

@{
    ViewData["Title"] = "Index";
}

<div class="naslov">
    <h1>Sobe</h1>
    <a class="btn btn-outline-success btn-lg" asp-area="" asp-controller="Soba" asp-action="Create"><i class="fas fa-plus"></i></a>
</div>
<div class="card">
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.HotelID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrojSobe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipSobe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zauzeta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.Naziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrojSobe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipSobe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zauzeta)
                    </td>
                    <td>

                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.SobaID">
                            <i class="fas fa-info"></i>
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SobaID" >
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<img src ="~/images/Sobe.jpg"  class="slika" />
<style>
    .slika {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: 0.5;
        overflow: hidden;
    }

    .naslov {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1em;
        margin: 0em 3em 0em 3em;
    }

        .naslov h1, a {
            z-index: 10;
        }

    .card {
        position: relative;
        top: 0em;
        bottom: 5em;
        padding: 2em;
        margin: 0em 3em 0em 3em;
        z-index: 10;
        opacity: 0.95;
    }
</style>
