@model TravelAgency.Models.RezervacijaVM

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <p class="text-uppercase">Kreiraj rezervaciju</p>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @*izabere se vec pstojeci agent*@
                <div class="form-group">
                    <label asp-for="Rezervacija.AgentID" class="control-label"></label>
                    <select asp-for="Rezervacija.AgentID" asp-items="@ViewBag.agenti" class="form-control"></select>
                    <span asp-validation-for="Rezervacija.AgentID" class="text-danger"></span>
                </div>

                @*izabere se vec postojeca soba*@
                <div class="row2">
                    <div class="form-group" style="width: 45%;">
                        @if (ViewBag.HotelList != null)
                        {
                            <label asp-for="Rezervacija.Soba.HotelID" class="control-label"></label>
                            @Html.DropDownListFor(m => m.HotelID, ViewBag.HotelList as SelectList, "-- Izaberi Hotel --", new { @class = "form-control" })
                            <span asp-validation-for="Rezervacija.Soba.HotelID" class="text-danger"></span>
                        }
                    </div>
                    <div class="form-group" style="width: 45%;">
                        <label asp-for="Rezervacija.SobaID" class="control-label"></label>
                        @Html.DropDownListFor(m => m.SobaID, new SelectList(" "), "-- Izaberi Sobu --", new { @class = "form-control" })
                        <span asp-validation-for="Rezervacija.SobaID" class="text-danger"></span>
                    </div>


                    @*<div class="form-group" style="width: 45%;">
                            <label asp-for="Rezervacija.Soba.HotelID" class="control-label"></label>
                            <select asp-for="Rezervacija.Soba.HotelID" asp-items="@ViewBag.hoteli" class="form-control" ></select>
                            <span asp-validation-for="Rezervacija.Soba.HotelID" class="text-danger"></span>
                        </div>*@
                    @*<div class="form-group" style="width: 45%;">
                            <label asp-for="Rezervacija.SobaID" class="control-label"></label>
                            <select asp-for="Rezervacija.SobaID" asp-items="@ViewBag.sobe" class="form-control"></select>
                            <span asp-validation-for="Rezervacija.SobaID" class="text-danger"></span>
                        </div>*@
                </div>

                <div class="row2">
                    <div class="form-group" style="width: 45%;">
                        <label asp-for="Rezervacija.DatumOd" class="control-label"></label>
                        <input asp-for="Rezervacija.DatumOd" class="form-control datepicker" />
                        <span asp-validation-for="Rezervacija.DatumOd" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: 45%;">
                        <label asp-for="Rezervacija.DatumDo" class="control-label"></label>
                        <input asp-for="Rezervacija.DatumDo" class="form-control datepicker" />
                        <span asp-validation-for="Rezervacija.DatumDo" class="text-danger"></span>
                    </div>
                </div>

                <div class="row2">
                    <div class="form-group" style="width: 49%;">
                        <label class="control-label"> Gosti: </label>
                        @Html.DropDownList("Gosti", Model.Gosti, new { @class = "form-control", @id = "gost-select" })
                    </div>
                    <div class="form-group" style="width: 49%;">
                        <button class="btn btn-dark btn-block" id="dodajgosta" style="margin-top: 1em;">Dodaj</button>
                    </div>
                </div>
                
                
                @*lista svih gostiju u toj sobi*@
                <table class="table" id="listagostiju">
                    <thead>
                        <tr>
                            <th>
                                RB
                            </th>
                            <th>
                                
                            </th>
                            <th>
                                Pasos
                            </th>
                            <th>
                                Ime
                            </th>
                            <th>
                                Prezime
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <hr />




                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success btn-block" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-outline-dark btn-block"><i class="fas fa-long-arrow-alt-left"></i></a>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row2">
        <div class="form-group" style="width: 49%;">
            <table id="myTable" class="table table-dark">
                <thead>
                    <tr>
                        <th>
                            Pasos
                        </th>
                        <th>
                            Ime
                        </th>
                        <th>
                            Prezime
                        </th>
                        <th>
                            Telefon
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SviGosti)
                    {
                        <tr id="gost-select">
                            <td class="table-dark">
                                @Html.DisplayFor(modelItem => item.Pasos)
                            </td>
                            <td class="table-dark">
                                @Html.DisplayFor(modelItem => item.Ime)
                            </td>
                            <td class="table-dark">
                                @Html.DisplayFor(modelItem => item.Prezime)
                            </td>


                            <td class="table-dark">
                                @Html.DisplayFor(modelItem => item.Telefon)
                                @*<a asp-action="AddGost" asp-controller="Rezervacija" asp-route-id="@item.GostID" class="btn btn-dark" >
            Dodaj gosta u rezervaciju
        </a>*@
                                @*<button class="btn btn-dark btn-block" id="dodajgosta">Dodaj</button>*@
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="form-group" style="width: 49%;">
            <button type="button" value="Kreiraj novog gosta" id="showmenu1" class="btn btn-block btn-dark">Kreiraj novog gosta</button>
            <div class="menu" style="display:none;">
                <div class="row12">
                    <form asp-action="CreateGost" asp-controller="Rezervacija">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Gost.Pasos" class="control-label"></label>
                            <input asp-for="Gost.Pasos" class="form-control" />
                            <span asp-validation-for="Gost.Pasos" class="text-danger"></span>
                            @Html.ValidationMessage("GostID")
                        </div>
                        <div class="row22">
                            <div class="form-group">
                                <label asp-for="Gost.Ime" class="control-label"></label>
                                <input asp-for="Gost.Ime" class="form-control" />
                                <span asp-validation-for="Gost.Ime" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin-left: 1em;">
                                <label asp-for="Gost.Prezime" class="control-label"></label>
                                <input asp-for="Gost.Prezime" class="form-control" />
                                <span asp-validation-for="Gost.Prezime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gost.DatumRodjenja" class="control-label"></label>
                            <input asp-for="Gost.DatumRodjenja" class="form-control" />
                            <span asp-validation-for="Gost.DatumRodjenja" class="text-danger"></span>
                        </div>
                        <div class="row22">
                            <div class="form-group">
                                <label asp-for="Gost.Telefon" class="control-label"></label>
                                <input asp-for="Gost.Telefon" class="form-control" />
                                <span asp-validation-for="Gost.Telefon" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="margin-left: 1em;">
                                <label asp-for="Gost.Email" class="control-label"></label>
                                <input asp-for="Gost.Email" class="form-control" />
                                <span asp-validation-for="Gost.Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="~/images/Login11.jpg" class="slika" />


@section Scripts{
    
    
    <script>
        $(document).ready(function () {
            $('#showmenu1').click(function () {
                $('.menu').slideToggle("slow");
            });
            $('#myTable').DataTable();
            $('#gost-select').chosen();
        });


        $('#dodajgosta').click(function (e) {
            e.preventDefault();
            /*alert('btn click');*/
            $.ajax({
                url: '@Url.ActionLink("AddGost", "Rezervacija")',
                method: 'post',
                data: { GostID: $('#gost-select').val(), Rb: $('#listagostiju tbody tr').length },
                success: function (data) {
                    $('#listagostiju tbody').append(data);
                    $('#gost-select [value=' + $('#gost-select').val() + ']').remove();
                },
                error: function () {
                    alert('Error');
                }
            });
        });


        $(document).ready(function () {
            $("#HotelID").change(function () {
                var hotelid = $(this).val();
                $.get("/Rezervacija/GetSobaList", { HotelID: hotelid }, function (data) {
                    $("#SobaID").empty();
                    $.each(data, function (index, row) {
                        $("#SobaID").append("<option value='" + row.id + "'>" + row.brojsobe + ", " + row.tipsobe + "</option>")
                    });
                });
            })
        });


   

    </script>
}

<style>
    .slika {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        overflow: hidden;
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: 0.7;
        overflow: hidden;
    }

    .card {
        position: relative;
        z-index: 10;
        opacity: 0.9;
        margin: 3em;
        justify-content: center;
        padding: 2em;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        row-gap: 1em;
    }

    .row12 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row22 {
        display: flex;
        flex-direction: row;
    }

    .card p {
        text-align: center;
        letter-spacing: 5px;
    }
</style>
